.primary_btn {
    padding: 18px 10px;
    background-color: black;
    color: white;
    font-size: 16px;
    min-width: 220px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 5px;
}
.Outline_btn{
    padding: 18px 10px;
    background-color: white;
    color: black;
    font-size: 16px;
    min-width: 472px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 5px;
    margin-top: 17px;
    border: 2px solid black;
    font-weight: 550;
}

.primary_btn:hover {
    transform: scale(1.05); 
  }

.Outline_btn:hover {
    transform: scale(1.05); 
}